body {
  background: #141416;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #7791fc !important;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #293367 !important;
}

.CircularProgressbar-text {
  fill: white !important;
}
